# Ignore environment variables
.env
backend/.env
frontend/.env

# Ignore node_modules
node_modules
frontend/node_modules

# Ignore system files
.DS_Store

# Ignore distribution files
dist
dist-ssr

# Ignore local development files
*.local

# Ignore zip files
*.zip
